    <div class="container-fulid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg   ">

                    <a class="navbar-brand " href="#"> <i class="fa-sharp fa-solid fa-snowflake fa-spin"></i>
                    BistaWeather <i class="fa-sharp fa-solid fa-snowflake fa-spin"></i> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class=" navbar-nav ms-auto ">
                            <li class=" nav-item active" id="royal1">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item" id="royal2">
                                <a class="nav-link" href="/weather">Weather</a>
                            </li>
                            <li class="nav-item" id="royal3">
                                <a class="nav-link" href="/about">About Us</a>
                            </li>


                        </ul>

                    </div>

                </nav>
            </div>
        </div>
    </div>